body{
    /* background-color: rebeccapurple; */
    background: linear-gradient(to right, grey 50%, red 50%);
}

h2{
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2:hover{
    color: white; 
    /* color: linear-gradient(to right, red 50%, grey 50%); */
}

label:hover{
    color: white;
}

#icon{
    width: 100px;
    height: 100px;
    border-radius: 75%;
}

form{
    margin: 0 auto;
    width: 250px;
}

input, label, #enterB {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

input{
    margin-bottom: 20px;
}

.buttons{
    text-align: center;
}


.popup{
    display: flex;
    height: 300px;
    width: 300px;
    border: 2px solid white;
    opacity: 1;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.popup img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}


#pokemonSprite #pokemonSprite2{
    display: none;
}


#txtBox{
    position: absolute;
    z-index: 10;
    right: 0;
    /* top: 0; */
    height: 310px;
    width: 300px;
    border: solid 2px white;
    border-radius: 10px;
}