body{
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f4f8;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.4s ease-in-out;
  color: #333;
  display: flex; /* center the app*/
  justify-content: center; /* horizontally center*/
  align-items: center; /*vertically center*/
  height: 100vh;
  margin: 0;
  transition: background-color 1s ease, color 1s ease;
}

/* animated wallpaper */
body.sunny-bg {
  background-image: url("/sunnyy.gif");
}

body.cloudy-bg{
  background-image: url("/cloudyy.gif");
}

body.rainy-bg {
  background-image: url("/rainy.gif");
}

body.snowy-bg{
  background-image: url("/winter.gif");
}

body.mist{
  background-image: url("/mist.gif");
}

/* dark mode */
body.dark-mode {
  background-color: #121212;
  color: #eee;
}

body.dark-mode .app{
  background-color: #1e1e1e;
  color: #ddd;
}

.skeleton{
  background-color: #e2e2e2;
  border-radius: 4px;
  margin: 0.5rem 0;
  position: relative;
  overflow: hidden;
}

.skeleton.text{
  height: 20px;
  width: 80%;
}

.skeleton.title{
  height: 28px;
  width: 60%;
}

.skeleton.image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.skeleton::after{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    #d8d8d8 50%,
    transparent 100%
  );

  animation: shimmer 1.5s infinite;
}

@keyframes shimmer{
  100% {
    left: 100%;
  }
}

.spinner{
  border: 4px solid #f3fef3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
  margin: 1rem auto;
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/* main app container */
.app{
  /*background: #ffffff; */
  background: rgba(255,255,255,0.85);
  color: #333;
  padding: 1rem; 
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  transition: background-color 1s ease, color 1s ease;
}

h1{
  margin-bottom: 1rem;
  color: #ee00ff;
  font-style: oblique;
}

form {
  display: flex; /*align input and button next to each other*/
  gap: 0.5rem; /*space between them*/
  margin-bottom: 1rem; 
}

input {
  flex: auto; /*take up remaining space*/
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease; /*smooth hover effect*/
}

button:hover{
  background-color: #0056b3;
}

.weather-Info{
  margin-top: 1rem;
}

.weather-Info h2, .weather-Info h3, .weather-Info p{
  font-family: Arial, Helvetica, sans-serif;
  color: #0056b3;
}

.message{
  font-style: italic;
  color: #555;
  margin-top: 0.5rem;
}

.weather-Info img{
  margin-top: 0.5rem;
  width: 100px;
  height: 100px;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.error{
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}
