.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}


.quote {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 14px;
  background-color: rgb(17, 220, 176);
  box-shadow: 0 10px 6px rgba(174, 40, 40, 0.1);
  margin-top: 20px;
}

.quote blockquote{
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 0 1rem 0;
  padding: 0;
}

.quote .author {
  text-align: center;
  font-weight: bold;
  color: black;
  margin: 0;
}

h1{
  text-align: center;
  font-style: italic;
  color: orange;
}

.quote-button{
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quote-button:hover {
  background-color: #45a049;
}

.quote-button:disabled{
  background-color: #cccccc;
  cursor: not-allowed;
}